.error {
	color: red;
}

.report-create form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #e0e0e0;
	border-radius: 20px;
	padding: 20px 30px;
}

.report-create label {
	font-size: 100%;
}

.report-create .message {
	color: red;
	font-size: 120%;
}