.status .table {
	width: 800px;
	overflow: hidden;
}

.status .fas {
	font-size: 12px;
}

.status .fa-check-circle {
	color: green;
}


.status td {
	text-align: center;
	font-size: 10px;
	padding: 5px;
}

.status .the-hover-one:hover {
	background-color: #c0c0c0;
	cursor: pointer;
}

.status .wrapper {
	padding: 0;
	margin: 0;
	border: none;
}

.status a .fa-times {
	color: #000;
}

@media only screen and (min-width: 768px) {
	
	.status .table {
		max-width: 800px;
		font-size: 12px;
	}
	
	.status .fas {
		font-size: 18px;
	}
	
	.status td {
		font-size: 12px;
		padding: 10px;
	}
} 