.side-bar .nav-link {
	color: #000;
	font-size: 100%;
}

.side-bar .nav-link:hover {
	color: #015d82;
	font-weight: 600;
	letter-spacing: 1px;
}

.side-bar .nav-link.active {
	font-weight: 600;
	color: #015d82;
}

@media only screen and (min-width: 768px) {

	.side-bar .nav-link {
		font-size: 120%;
	}
	
}
	