@import "form.css";
@import "sidebar.css";
@import "topbar.css";
@import "report_month_status.css";

body {
	font-size: 100%;
}

input {
	font-size: 100%;
}

.error {
	color: red;
}

.my-custom-scrollbar {
	position: relative;
	max-height: 70vh;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}

.table {
	max-width: 1000px;
}

form {
	max-width: 1000px;
}

.login-form {
	font-size: 300%;
	max-width: 600px;
}

hr {
	max-width: 1000px;
	diplay: inline-block;
	margin: 1% 0;
}


@media only screen and (min-width: 768px) {
	
	.login-form {
		font-size: 150%;
		max-width: 600px;
	}

	.side-bar .nav-link {
		font-size: 120%;
	}
	
}