@import "form.css";
@import "sidebar.css";
@import "topbar.css";

.error {
	color: red;
}

.my-custom-scrollbar {
	position: relative;
	max-height: 70vh;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
}
