@import "form.css";
@import "sidebar.css";
@import "topbar.css";
@import "report_month_status.css";
@import "manual.css";

body {
	font-size: 10px;
}

h2 {
	font-size: 20px;
}

h5 {
	font-size: 12px;
}

hr {
	max-width: 800px;
	diplay: inline-block;
	margin: 10px 0;
}

.badge {
	font-size: 10px; 
}

.main-frame {
	border: 3px solid #c0c0c0;
	min-height: calc(100vh - 70px);
	over-flow: hidden;
}

.error {
	color: red;
}

.my-custom-scrollbar {
	position: relative;
	max-height: 40vh;
	overflow: auto;
}

.table-wrapper-scroll-y {	
	max-width: 800px;
}

.table {
	background-color: #feffcc; 
}

.col-md-10,
.col-9 {
	padding: 10px 20px;
	border-left: 3px solid #c0c0c0;
}

@media only screen and (min-width: 768px) {

	body {
		font-size: 12px;
	}
	
	h5 {
		font-size: 14px;
	}
	
	.badge {
		font-size: 12px; 
	}
	
} 



@media only screen and (min-width: 1024px) {
	
	.my-custom-scrollbar {
		max-height: 50vh;
	}


} 